.App {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 160px);
}

body {
  margin: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

}

div{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 160px);
}

div div {
  flex-direction: row;
  margin-top: 10px;
}